<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--main-intro" style="--background: url('../assets/images/main-bg.png')">
        <div class="container">
            <div class="main-intro">
                <div class="main-intro__meta">
                    <div class="main-intro__nav">
                        <a href="mailto:unreal@mail.ru" class="link">unreal@mail.ru</a>
                        <a href="tel:+740121016132" class="link">8 (4012) 101-61-32</a>
                        <a href="tel:+78001016132" class="link">8 (800) 101-61-32</a>
                    </div>
                    <div class="social">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="main-intro__info">
                    <h1 class="main-title">
                        Услуги digital- <br>
                        лоукостера
                    </h1>
                    <p class="subtitle">
                        Включает использование различных инструментов для поиска клиентов, работы с базой данных,
                        аналитики и консалтинга
                    </p>
                </div>
                <button class="button">
                    <span>Подать заявку</span>
                    <svg>
                        <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <div class="main-intro__marque">
                    <p class="text text--light">
                        просто компании, которым мы помогли...
                    </p>
                    <div class="slider slider--infinite" data-slider="infinite">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-4.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-5.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-6.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-7.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-intro__decor">
                    <img class="main-intro__bobbles" src="./assets/images/boubles.png" alt="">
                    <img class="main-intro__colb" src="./assets/images/colb.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray section--round section--offset pt-120 pb-80">
        <div class="container">
            <div class="header-block header-block--full header-block--column mb-110">
                <h2 class="title mb-40">
                    Эффективный сайт — мощнейший инструмент для увеличения продаж. Он работает не только благодаря
                    сильному уникальному торговому предложению, и конверсионным формам, но и ...
                </h2>
                <p class="subtitle subtitle--black">
                    за счет более 80 методов продвижения, персонализированных продуктов и около 30 точек контакта с
                    каждым посетителем. Такой подход позволяет нам снять 98,7% возражений, повысить уровень доверия и
                    стимулировать покупку здесь и сейчас.
                </p>
            </div>
            <div class="services">
                <div class="header-block">
                    <h2 class="title">
                        Наши услуги
                    </h2>
                </div>
                <div class="services__list services-trigger">
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">SEO-продвижение</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Рестораны и кафе</a>
                                <a href="#" class="tag tag--light tag--medium">Юридические услуги</a>
                                <a href="#" class="tag tag--light tag--medium">Магазин одежды</a>
                                <a href="#" class="tag tag--light tag--medium">Магазин автозапчастей</a>
                                <a href="#" class="tag tag--light tag--medium">Салон красоты</a>
                                <a href="#" class="tag tag--light tag--medium">Недвижимость</a>
                                <a href="#" class="tag tag--light tag--medium">Логистика</a>
                                <a href="#" class="tag tag--light tag--medium">Строительство</a>
                                <a href="#" class="tag tag--light tag--medium">Медицина</a>
                                <a href="#" class="tag tag--light tag--medium">Франшизы</a>
                                <a href="#" class="tag tag--light tag--medium">Доставки</a>
                                <a href="#" class="tag tag--light tag--medium">Онлайн школы</a>
                                <a href="#" class="tag tag--light tag--medium">Госучреждения</a>
                                <a href="#" class="tag tag--light tag--medium">Интернет магазины</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-1.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Брендинг</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Графический дизайн</a>
                                <a href="#" class="tag tag--light tag--medium">Дизайн логотип</a>
                                <a href="#" class="tag tag--light tag--medium">Дизайн концепция</a>
                                <a href="#" class="tag tag--light tag--medium">Дизайн упаковки</a>
                                <a href="#" class="tag tag--light tag--medium">Нейминг, разработка слогана</a>
                                <a href="#" class="tag tag--light tag--medium">Разработка брендбука</a>
                                <a href="#" class="tag tag--light tag--medium">Разработка бренда</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-2.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Разработка сайтов</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Landing page</a>
                                <a href="#" class="tag tag--light tag--medium">Сайт-визитка</a>
                                <a href="#" class="tag tag--light tag--medium">Интернет магазин</a>
                                <a href="#" class="tag tag--light tag--medium">Корпоративный сайт</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-3.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">SMM и маркетинг</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Авитолог</a>
                                <a href="#" class="tag tag--light tag--medium">Маркетинговый аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Отработка гипотез</a>
                                <a href="#" class="tag tag--light tag--medium">Ведение социальных сетей</a>
                                <a href="#" class="tag tag--light tag--medium">Таргетированная реклама</a>
                                <a href="#" class="tag tag--light tag--medium">Вконтакте</a>
                                <a href="#" class="tag tag--light tag--medium">Одноклассники</a>
                                <a href="#" class="tag tag--light tag--medium">Telegram</a>
                                <a href="#" class="tag tag--light tag--medium">Facebook</a>
                                <a href="#" class="tag tag--light tag--medium">Instagram*</a>
                                <a href="#" class="tag tag--light tag--medium">Rutube</a>
                                <a href="#" class="tag tag--light tag--medium">Youtube</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-4.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Аудиты и аналитика</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Внедрение CSJ</a>
                                <a href="#" class="tag tag--light tag--medium">SEO-аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Конверсионный аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Маркетинговый аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Технический аудит сайта</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-5.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Маркетинг</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Внедрение CSJ</a>
                                <a href="#" class="tag tag--light tag--medium">SEO-аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Конверсионный аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Маркетинговый аудит</a>
                                <a href="#" class="tag tag--light tag--medium">Технический аудит сайта</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-6.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Внедрение и разработка CRM-систем</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Внедрение Битрикс 24</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-7.png" alt="">
                        </picture>
                    </article>
                    <article class="article-benefit">
                        <div class="article-benefit__intro">
                            <h3 class="article-benefit__title">Дополнительно</h3>
                            <p class="article-benefit__price">от 9 900 ₽</p>
                            <button class="button button--service">
                                <span>Подать заявку</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                        <div class="article-benefit__info">
                            <div class="article-benefit__tags">
                                <a href="#" class="tag tag--light tag--medium">Подбор и покупка домена</a>
                                <a href="#" class="tag tag--light tag--medium">Защита от вирусов</a>
                                <a href="#" class="tag tag--light tag--medium">Настройка хостинга</a>
                            </div>
                            <p class="article-benefit__text">
                                SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых
                                системах, что помогает привлекать больше целевых посетителей. Оно включает в себя
                                техническую оптимизацию, создание качественного контента и наращивание ссылочной массы.
                            </p>
                        </div>
                        <picture class="article-benefit__picture">
                            <img src="./assets/images/service-8.png" alt="">
                        </picture>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-75">
        <div class="container">
            <div class="reviews">
                <div class="header-block mb-43">
                    <div class="grid">
                        <div class="grid__item grid__item--5">
                            <h2 class="title">Отзывы наших клиентов</h2>
                        </div>
                        <div class="grid__item grid__item--1 mob-hidden"></div>
                        <div class="grid__item grid__item--6">
                            <p class="subtitle subtitle--big subtitle--gray">
                                Есть еще сомнения?
                                Можете посмотреть отзывы наших довольных клиентов.
                                Текст сюда можно<br> не много
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider slider--visible slider--transition" data-slider="reviews">
                    <div class="swiper" data-video-container>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-160 pb-130">
        <div class="container">
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь<br> на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
