.container {
  position: relative;
  width: 100%;
  max-width: 1570px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;

  @include r($mobile) {
    max-width: 100%;
    padding: 0 19px;
  }

  &--fluid {
    max-width: 100%;
  }
}
