.label {
  position: absolute;
  left: 40px;
  bottom: 34px;
  display: flex;
  flex-direction: column;
  padding: 20px 13px 20px 20px;
  @include text($white, 28px, 600, none);
  letter-spacing: -1px;
  border-radius: $r-20;
  background: #242A4966;
  backdrop-filter: blur(3px);
  border: 1px solid rgba($white, .5);

  @include r($mobile) {
    left: 20px;
    bottom: 20px;
    padding: 12px;
    @include text($white, 16px, 600, none);
    border-radius: $r-10;
  }

  span {
    text-transform: uppercase;
  }
}
