.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 420px;
  padding: 30px;

  @include text($white, 24px, 600, none);

  border-radius: $r-15;
  background-color: $primary;
  cursor: pointer;

  @include defaultHover();

  @include r($mobile) {
    min-width: 280px;
    padding: 18px;
    @include text($white, 18px, 600, none);
    border-radius: $r-10;
  }

  &--small {
    min-width: auto;
    padding: 13px 20px;
    @include text($white, 16px, 600, none, 150%);
    border-radius: $r-10;
  }

  &--service {
    min-width: 320px;
    padding: 15px 20px;
    @include text($white, 24px, 600, none, 100%);
    border-radius: $r-15;

    @include r($mobile) {
      min-width: 280px;
      padding: 18px;
      @include text($white, 18px, 600, none);
      border-radius: $r-10;
    }
  }

  &--aside {
    min-width: auto;
    padding: 15px 20px;
    @include text($white, 16px, 600, none, 100%);
    letter-spacing: -2%;
    border-radius: $r-15;
  }

  &--light {
    color: $primary;
    background-color: $primary-light;
  }

  &--slim {
    padding: 13px 20px;
    @include text($white, 20px, 600, none);
    border-radius: $r-15;
  }

  &--form {
    padding: 20px;
  }

  svg {
    display: flex;
    width: 20px;
    height: 20px;
  }
}
