.info-block {
  display: flex;
  gap: 158px;

  @include r($mobile) {
    flex-direction: column;
    gap: 40px;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;

    @include r($mobile) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 50px;
    list-style: disc;
    list-style-position: inside;
  }

  &__item {
    @include text(#848A9B, 18px, 500, none, 180%);

    @include r($mobile) {
      @include text(#848A9B, 16px, 500, none, 120%);
    }
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: -13%;
    width: 980px;
    height: 616px;
    border-radius: $r-20;
    overflow: hidden;
    border: 15px solid #262A4B0D;

    @include r($mobile) {
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      border-width: 1px;
    }

    img {
      @include coverFull();
      object-position: top;
    }
  }
}
