<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section pt-80">
        <div class="container">
            <div class="header-block mb-50">
                <h2 class="title">
                    Наше портфолио
                </h2>
            </div>
            <div class="filter mb-50">
                <a href="#" class="filter__item active">
                    Все проекты (<span>76</span>)
                </a>
                <a href="#" class="filter__item">
                    SEO кейсы (<span>2</span>)
                </a>
                <a href="#" class="filter__item">
                    Контекстная реклама (<span>19</span>)
                </a>
                <a href="#" class="filter__item">
                    Сайты (<span>12</span>)
                </a>
                <a href="#" class="filter__item">
                    Посадочные страницы (<span>14</span>)
                </a>
                <a href="#" class="filter__item">
                    Интернет-магазины (<span>4</span>)
                </a>
                <a href="#" class="filter__item">
                    SMM кейсы (<span>12</span>)
                </a>
                <a href="#" class="filter__item">
                    Мобильные приложения (<span>1</span>)
                </a>
                <a href="#" class="filter__item">
                    Фирменный стиль (<span>4</span>)
                </a>
                <a href="#" class="filter__item">
                    Веб-дизайн (<span>5</span>)
                </a>
                <a href="#" class="filter__item">
                    3D Визуализация
                </a>
            </div>
            <div class="grid mb-96">
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-1.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">SEO кейсы</p>
                            <h3 class="article-project__title">
                                Оптимизация рекламных кампаний для компании ПТК39
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-2.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Сайты</p>
                            <h3 class="article-project__title">
                                Привели 253 лида со средним чеком услуги более 1 млн. ₽
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-3.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Веб-дизайн</p>
                            <h3 class="article-project__title">
                                Снизили цену обращения в 4,2 раза по B2B-сегменту
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-4.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Фирменный стиль</p>
                            <h3 class="article-project__title">
                                Эффективный комплексный маркетинг для роста бизнеса
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-5.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Мобильные приложения</p>
                            <h3 class="article-project__title">
                                Оптимизация рекламных кампаний для компании ПТК39
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-6.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">3D визуализация</p>
                            <h3 class="article-project__title">
                                Привели 253 лида со средним чеком услуги более 1 млн. ₽
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-7.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Контекстная реклама</p>
                            <h3 class="article-project__title">
                                Снизили цену обращения в 4,2 раза по B2B-сегменту
                            </h3>
                        </div>
                    </article>
                </div>
                <div class="grid__item grid__item--3">
                    <article class="article-project">
                        <div class="article-project__preview">
                            <picture class="article-project__picture">
                                <img src="./assets/images/project-8.png" alt="">
                            </picture>
                            <div class="article-project__tags">
                                <p class="tag tag--light">Графический дизайн</p>
                                <p class="tag tag--light">Дизайн логотип</p>
                                <p class="tag tag--light">Дизайн упаковки</p>
                                <p class="tag tag--light">Разработка брендбука</p>
                            </div>
                            <a href="#" class="article-project__backdrop">
                                <span>Подробнее</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="article-project__info">
                            <p class="article-project__category">Фирменный стиль</p>
                            <h3 class="article-project__title">
                                Эффективный комплексный маркетинг для роста бизнеса
                            </h3>
                        </div>
                    </article>
                </div>
            </div>
            <div class="pagination">
                <a href="#" class="pagination__button">Назад</a>
                <div class="pagination__list">
                    <a href="#" class="pagination__link">1</a>
                    <a href="#" class="pagination__link">...</a>
                    <a href="#" class="pagination__link">10</a>
                    <a href="#" class="pagination__link">11</a>
                    <a href="#" class="pagination__link active">12</a>
                    <a href="#" class="pagination__link">13</a>
                    <a href="#" class="pagination__link">14</a>
                    <a href="#" class="pagination__link">15</a>
                    <a href="#" class="pagination__link">16</a>
                    <a href="#" class="pagination__link">...</a>
                    <a href="#" class="pagination__link">26</a>
                </div>
                <a href="#" class="pagination__button">Далее</a>
            </div>
        </div>
    </section>
    <section class="section pt-160 pb-130">
        <div class="container">
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
