.text {
  @include text(black, 20px, 500);

  &--small {
    @include text(black, 16px, 500, none, 140%);
  }

  a {
    color: $primary;
  }

  &--light {
    color: $white;
  }

  &--offset {
    line-height: 150%;
  }
}
