.article-post {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-radius: $r-20;

    img {
      @include coverFull();
    }
  }

  &__title {
    @include text($black, 32px, 600, none, 100%);
    letter-spacing: -1px;
    transition: .2s linear;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      opacity: .7;
    }
  }

  &__text {
    @include text($black, 18px, 500, none, 150%);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
