.article-service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  min-height: 233px;
  height: 100%;
  background-color: $white;
  border-radius: $r-20;
  border: 1px solid $border;
  transition: .2s linear;

  &:hover {
    transform: rotate(-2deg);

    .article-service__title {
      color: $primary;
    }
  }

  &--more {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 20px;
    @include text($white, 32px, 600);
    background-color: $primary;
    letter-spacing: -1px;

    &:hover {
      transform: none;
    }

    @include defaultHover();
  }

  &__title {
    @include text($black, 32px, 600);
    letter-spacing: -1px;
    transition: .2s linear;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: auto;
  }
}
