.social {
  display: flex;
  align-items: center;
  gap: 20px;

  &__link {
    color: $white;

    svg {
      display: flex;
      width: 25px;
      height: 25px;
    }

    @include defaultHover();
  }

  &--black {
    .social__link {
      color: $black;

      svg {
        display: flex;
        width: 35px;
        height: 35px;
      }
    }
  }
}
