.section {
  position: relative;
  background: var(--background);
  background-position: center;
  background-size: cover;
  background-color: $white;
  z-index: 1;

  &--main-intro {
    display: flex;
    flex-direction: column;
    height: 990px;
    background-color: $black;
    border-radius: 50px;
    overflow: hidden;

    .container {
      height: 100%;
    }
  }

  &--dark {
    background-color: $black;
  }

  &--gray {
    background: $bg-gray;
  }

  &--round {
    border-radius: 50px;
  }

  &--offset {
    --offset-count: 20px;
    margin-top: calc(-1 * var(--offset-count));
  }
}
