<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--main-intro" style="--background: url('../assets/images/main-bg.png')">
        <div class="container">
            <div class="main-intro">
                <div class="main-intro__meta">
                    <div class="main-intro__nav">
                        <a href="mailto:unreal@mail.ru" class="link">unreal@mail.ru</a>
                        <a href="tel:+740121016132" class="link">8 (4012) 101-61-32</a>
                        <a href="tel:+78001016132" class="link">8 (800) 101-61-32</a>
                    </div>
                    <div class="social">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="main-intro__info">
                    <h1 class="main-title">
                        SEO-продвижение
                    </h1>
                    <p class="subtitle">
                        Комплексная работа по улучшению позиций сайта в поисковых системах, что помогает привлекать
                        больше целевых посетителей. Оно включает в себя техническую оптимизацию, создание качественного
                        контента и наращивание ссылочной массы.
                    </p>
                </div>
                <button class="button">
                    <span>Рассчитать стоимость</span>
                    <svg>
                        <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
                <div class="main-intro__marque">
                    <p class="text text--light">
                        просто компании, которым мы помогли...
                    </p>
                    <div class="slider slider--infinite" data-slider="infinite">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-4.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-5.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-6.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-7.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-1.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-2.png" alt="">
                                    </picture>
                                </div>
                                <div class="swiper-slide">
                                    <picture class="company-logo">
                                        <img src="./assets/images/logo-3.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-intro__decor">
                    <img class="main-intro__bobbles" src="./assets/images/boubles.png" alt="">
                    <img class="main-intro__colb" src="./assets/images/colb.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray pt-130">
        <div class="container">
            <div class="info-block">
                <div class="info-block__detail">
                    <div class="title mb-40">Если вам нужно...</div>
                    <ul class="info-block__list">
                        <li class="info-block__item">Продвижение в поисковых системах Яндекс и Google (SEO).</li>
                        <li class="info-block__item">Контекстная реклама в Яндекс и Google.</li>
                        <li class="info-block__item">Таргетированная реклама в соц. сетях.</li>
                        <li class="info-block__item">Квиз-маркетинг и WhatsApp-боты.</li>
                        <li class="info-block__item">Сервисы карт: Яндекс, Google, 2ГИС.</li>
                        <li class="info-block__item">Сервисы отзывов.</li>
                        <li class="info-block__item">Продвижение в медицинских агрегаторах и справочниках.</li>
                    </ul>
                    <a href="#" class="button">
                        <span>Хочу также</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <picture class="info-block__picture">
                    <img src="./assets/images/info-block.png" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section section--round section--offset pt-110 pb-226">
        <div class="container">
            <div class="header-block mb-40">
                <h2 class="title">Наши тарифы</h2>
            </div>
            <div class="orders">
                <article class="article-order">
                    <div class="article-order__header">
                        <h3 class="article-order__title">Тариф Лайт</h3>
                        <p class="article-order__price">от 9 900 ₽</p>
                    </div>
                    <div class="article-order__info">
                        <p class="article-order__head">Что будет доступно:</p>
                        <div class="article-order__tags">
                            <a href="#" class="tag tag--white tag--medium">Рестораны и кафе</a>
                            <a href="#" class="tag tag--white tag--medium">Юридические услуги</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин одежды</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин автозапчастей</a>
                        </div>
                        <p class="article-order__text">
                            SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых системах,
                            что помогает привлекать больше целевых посетителей. Оно включает в себя техническую
                            оптимизацию, создание качественного контента и наращивание ссылочной массы.
                        </p>
                    </div>
                </article>
                <article class="article-order">
                    <div class="article-order__header">
                        <h3 class="article-order__title">Тариф Стандарт</h3>
                        <p class="article-order__price">от 19 900 ₽</p>
                    </div>
                    <div class="article-order__info">
                        <p class="article-order__head">Что будет доступно:</p>
                        <div class="article-order__tags">
                            <a href="#" class="tag tag--white tag--medium">Рестораны и кафе</a>
                            <a href="#" class="tag tag--white tag--medium">Юридические услуги</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин одежды</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин автозапчастей</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Графический дизайн</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Нейминг, разработка слогана</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Разработка брендбука</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Разработка бренда</a>
                        </div>
                        <p class="article-order__text">
                            SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых системах,
                            что помогает привлекать больше целевых посетителей. Оно включает в себя техническую
                            оптимизацию, создание качественного контента и наращивание ссылочной массы.
                        </p>
                    </div>
                </article>
                <article class="article-order article-order--accent">
                    <div class="article-order__header">
                        <h3 class="article-order__title">Тариф Премиум</h3>
                        <p class="article-order__price">от 29 900 ₽</p>
                    </div>
                    <div class="article-order__info">
                        <p class="article-order__head">Что будет доступно:</p>
                        <div class="article-order__tags">
                            <a href="#" class="tag tag--white tag--medium">Рестораны и кафе</a>
                            <a href="#" class="tag tag--white tag--medium">Юридические услуги</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин одежды</a>
                            <a href="#" class="tag tag--white tag--medium">Магазин автозапчастей</a>
                            <a href="#" class="tag tag--white tag--medium">Графический дизайн</a>
                            <a href="#" class="tag tag--white tag--medium">Нейминг, разработка слогана</a>
                            <a href="#" class="tag tag--white tag--medium">Разработка брендбука</a>
                            <a href="#" class="tag tag--white tag--medium">Разработка бренда</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Нейминг, разработка слогана</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Разработка брендбука</a>
                            <a href="#" class="tag tag--white tag--medium tag--primary">+ Разработка бренда</a>
                        </div>
                        <p class="article-order__text">
                            SEO-продвижение — это комплексная работа по улучшению позиций сайта в поисковых системах,
                            что помогает привлекать больше целевых посетителей. Оно включает в себя техническую
                            оптимизацию, создание качественного контента и наращивание ссылочной массы.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section class="section section--dark section--offset section--round pt-160 pb-150" style="--background: url('../assets/images/gradient-bg.png')">
        <div class="container">
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="slider slider--overflow" data-slider="default" data-slides="4">
                <div class="swiper">
                    <div class="header-block mb-50">
                        <h2 class="title title--light">Наш опыт подкреплен работами клиентов</h2>
                        <div class="swiper-control">
                            <button class="swiper-btn swiper-btn--prev">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-btn"></use>
                                </svg>
                            </button>
                            <button class="swiper-btn swiper-btn--next">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-btn"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-1.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">SEO кейсы</p>
                                    <h3 class="article-project__title">
                                        Оптимизация рекламных кампаний для компании ПТК39
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-2.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Сайты</p>
                                    <h3 class="article-project__title">
                                        Привели 253 лида со средним чеком услуги более 1 млн. ₽
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-3.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Веб-дизайн</p>
                                    <h3 class="article-project__title">
                                        Снизили цену обращения в 4,2 раза по B2B-сегменту
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-4.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Фирменный стиль</p>
                                    <h3 class="article-project__title">
                                        Эффективный комплексный маркетинг для роста бизнеса
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-5.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Мобильные приложения</p>
                                    <h3 class="article-project__title">
                                        Оптимизация рекламных кампаний для компании ПТК39
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-6.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">3D визуализация</p>
                                    <h3 class="article-project__title">
                                        Привели 253 лида со средним чеком услуги более 1 млн. ₽
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-7.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Контекстная реклама</p>
                                    <h3 class="article-project__title">
                                        Снизили цену обращения в 4,2 раза по B2B-сегменту
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-8.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Фирменный стиль</p>
                                    <h3 class="article-project__title">
                                        Эффективный комплексный маркетинг для роста бизнеса
                                    </h3>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--round section--offset section--gray pt-150 pb-220">
        <div class="container">
            <%= htmlWebpackPlugin.options.widgets.features %>
            <div class="reviews">
                <div class="header-block mb-43">
                    <div class="grid">
                        <div class="grid__item grid__item--5">
                            <h2 class="title">Отзывы наших клиентов</h2>
                        </div>
                        <div class="grid__item grid__item--1 mob-hidden"></div>
                        <div class="grid__item grid__item--6">
                            <p class="subtitle subtitle--big subtitle--gray">
                                Есть еще сомнения?
                                Можете посмотреть отзывы наших довольных клиентов.
                                Текст сюда можно не много
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider slider--visible slider--transition" data-slider="reviews">
                    <div class="swiper" data-video-container>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--round section--offset pt-110 pb-130">
        <div class="container">
            <div class="grid mb-120">
                <div class="grid__item grid__item--4">
                    <div class="header-block header-block--column mb-40">
                        <h2 class="title">Вопрос-ответ</h2>
                        <p class="subtitle subtitle--gray">
                            Есть вопросы? Можете написать<br>
                            нам в Telegram
                        </p>
                    </div>
                    <a href="#" class="button">
                        <span>Задать вопрос в Telegram</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
                <div class="grid__item grid__item--8">
                    <div class="faq">
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Могу ли я отменить свою подписку в любое время?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Как оплачивать услуги?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Как добавить задачу?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Как пополнить кошелек?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Как посмотреть выполнена ли задача?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                        <div class="faq__item">
                            <div class="faq__header">
                                <h3 class="faq__title">Как посмотреть выполнена ли задача?</h3>
                                <div class="faq__button"></div>
                            </div>
                            <div class="faq__content">
                                <p class="faq__text">
                                    Конечно. Ваша платная подписка может быть отменена в любое время, перейдя...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="useful">
                <h2 class="title">
                    Бесплатная инструкция по выбору подрядчика в сфере разработки сайтов и интернет-рекламы
                </h2>
                <div class="useful__text">
                    <p>Что внутри:</p>
                    <ul>
                        <li>–Как правильно сделать запрос</li>
                        <li>–Где нужно искать подрядчиков</li>
                        <li>–Список вопросов к потенциальным подрядчикам</li>
                        <li>–Как правильно сравнивать ответы, на что обратить внимание</li>
                        <li>–Как правильно сделать запрос</li>
                        <li>–Где нужно искать подрядчиков</li>
                        <li>–Список вопросов к потенциальным подрядчикам</li>
                        <li>–Как правильно сравнивать ответы, на что обратить внимание</li>
                        <li>–Как правильно сделать запрос</li>
                        <li>–Где нужно искать подрядчиков</li>
                        <li>–Список вопросов к потенциальным подрядчикам</li>
                        <li>–Как правильно сравнивать ответы, на что обратить внимание</li>
                    </ul>
                    <p class="show-more">
                        <span>Показать всё</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-down"></use>
                        </svg>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
