<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/portfolio-detail-bg.jpg')">
        <div class="container">
            <div class="main-intro">
                <div class="main-intro__meta">
                    <div class="main-intro__nav">
                        <a href="mailto:unreal@mail.ru" class="link">unreal@mail.ru</a>
                        <a href="tel:+740121016132" class="link">8 (4012) 101-61-32</a>
                        <a href="tel:+78001016132" class="link">8 (800) 101-61-32</a>
                    </div>
                    <div class="social">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-80 pb-160">
        <div class="container">
            <div class="grid">
                <div class="grid__item grid__item--8">
                    <div class="tags mb-24">
                        <a href="#" class="tag">Landing page</a>
                        <a href="#" class="tag">Сайт-визитка</a>
                        <a href="#" class="tag">Интернет магазин</a>
                        <a href="#" class="tag">Корпоративный сайт</a>
                    </div>
                    <div class="header-block header-block--column mb-40">
                        <h1 class="title title--big">
                            Оптимизация рекламных кампаний для компании ПТК39
                        </h1>
                        <p class="subtitle subtitle--black">
                            Как использовать интегрированные стратегии для повышения узнаваемости бренда и увеличения
                            продаж.
                        </p>
                    </div>
                    <div class="editor">
                        <h3>Клиент</h3>
                        <p>Реклама на поиске – основный источник обращений. На поисковой выдаче самые «горячие» лиды,
                            так как они уже знают, что им нужно и выбирают на рынке чьей услугой воспользоваться.</p>
                        <br>
                        <h3>Задача</h3>
                        <p>Реклама на поиске – основный источник обращений. На поисковой выдаче самые «горячие» лиды,
                            так как они уже знают, что им нужно и выбирают на рынке чьей услугой воспользоваться.</p>
                        <br>
                        <h3>Описание проекта</h3>
                        <p>
                            Реклама на поиске – основный источник обращений. На поисковой выдаче самые «горячие» лиды,
                            так как они уже знают, что им нужно и выбирают на рынке чьей услугой воспользоваться. Для
                            запуска поисковой рекламы необходимо грамотно подобрать семантику, исключая информационные
                            запросы. Про типы поисковых запросов можно почитать здесь. Собрав семантику ее нужно
                            кластеризовать. Обычно в группах около 5-20 ключевых фраз. Так можно максимально точно
                            составить объявления. Ранее было популярно строить рекламную кампанию по принципу 1 ключевая
                            фраза равно 1 группа объявлений. В итоге всем группам с низкочастотными запросами
                            присваивался статус мало показов. После согласования объявлений и семантики РК на поиске
                            готова.
                            Реклама в сетях (баннерная реклама) – используется для ретаргетинга по ключевым словам или
                            сегментам/аудиториям. Ретаргетинг по ключевым словам – пользователь ввел запрос на поисковой
                            выдаче, после этого ему будет показываться баннерная реклама. Ретаргетинг по
                            сегментам/аудиториям – например, пользователь зашел на сайт и пробыл там больше минуты,
                            делаем сегмент и показываем рекламу всем пользователям данного сегмента, сюда входит
                            look-a-like аудитории и пользователи из CRM. Для запуска нужно составить ТЗ на баннеры.
                        </p>
                        <br>
                        <h3>Какие каналы/инструменты использовали</h3>
                        <p>
                            Реклама на поиске – основный источник обращений. На поисковой выдаче самые «горячие» лиды,
                            так как они уже знают, что им нужно и выбирают на рынке чьей услугой воспользоваться. Для
                            запуска поисковой рекламы необходимо грамотно подобрать семантику, исключая информационные
                            запросы. Про типы поисковых запросов можно почитать здесь. Собрав семантику ее нужно
                            кластеризовать. Обычно в группах около 5-20 ключевых фраз. Так можно максимально точно
                            составить объявления. Ранее было популярно строить рекламную кампанию по принципу 1 ключевая
                            фраза равно 1 группа объявлений. В итоге всем группам с низкочастотными запросами
                            присваивался статус мало показов. После согласования объявлений и семантики РК на поиске
                            готова.
                            Реклама в сетях (баннерная реклама) – используется для ретаргетинга по ключевым словам или
                            сегментам/аудиториям. Ретаргетинг по ключевым словам – пользователь ввел запрос на поисковой
                            выдаче, после этого ему будет показываться баннерная реклама. Ретаргетинг по
                            сегментам/аудиториям – например, пользователь зашел на сайт и пробыл там больше минуты,
                            делаем сегмент и показываем рекламу всем пользователям данного сегмента, сюда входит
                            look-a-like аудитории и пользователи из CRM. Для запуска нужно составить ТЗ на баннеры.
                        </p>
                        <br>
                        <h3>Результаты кейса</h3>
                        <p>
                            Реклама на поиске – основный источник обращений. На поисковой выдаче самые «горячие» лиды,
                            так как они уже знают, что им нужно и выбирают на рынке чьей услугой воспользоваться. Для
                            запуска поисковой рекламы необходимо грамотно подобрать семантику, исключая информационные
                            запросы. Про типы поисковых запросов можно почитать здесь. Собрав семантику ее нужно
                            кластеризовать. Обычно в группах около 5-20 ключевых фраз. Так можно максимально точно
                            составить объявления.
                        </p>
                    </div>
                </div>
                <div class="grid__item grid__item--4">
                    <aside class="aside-feedback">
                        <h2 class="aside-feedback__title">Хочешь получать рассылку?</h2>
                        <form action="#" class="aside-feedback__form">
                            <label>
                                <input class="input" type="email" placeholder="E-mail">
                            </label>
                            <button class="button button--aside">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="aside-feedback__meta">
                            <p class="aside-feedback__text">Подпишись на нас:</p>
                            <div class="social social--black">
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--dark section--offset section--round pt-160 pb-150" style="--background: url('../assets/images/gradient-bg.png')">
        <div class="container">
            <div class="reviews mb-160">
                <div class="header-block mb-43">
                    <div class="grid">
                        <div class="grid__item grid__item--5">
                            <h2 class="title title--light">Отзывы наших клиентов</h2>
                        </div>
                        <div class="grid__item grid__item--1 mob-hidden"></div>
                        <div class="grid__item grid__item--6">
                            <p class="subtitle subtitle--big">
                                Есть еще сомнения?
                                Можете посмотреть отзывы наших довольных клиентов.
                                Текст сюда можно<br>не много
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider slider--visible slider--transition" data-slider="reviews">
                    <div class="swiper" data-video-container>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-1.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                            <div class="swiper-slide">
                                <article class="article-review" data-video>
                                    <button class="article-review__btn">
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-play"></use>
                                        </svg>
                                    </button>
                                    <video poster="./assets/images/review-2.png" playsinline>
                                        <source src="./assets/images/test.mp4" type="video/mp4">
                                    </video>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider slider--overflow" data-slider="default" data-slides="4">
                <div class="swiper">
                    <div class="header-block mb-50">
                        <h2 class="title title--light">Наш опыт подкреплен работами клиентов</h2>
                        <div class="swiper-control">
                            <button class="swiper-btn swiper-btn--prev">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-btn"></use>
                                </svg>
                            </button>
                            <button class="swiper-btn swiper-btn--next">
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-btn"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-1.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">SEO кейсы</p>
                                    <h3 class="article-project__title">
                                        Оптимизация рекламных кампаний для компании ПТК39
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-2.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Сайты</p>
                                    <h3 class="article-project__title">
                                        Привели 253 лида со средним чеком услуги более 1 млн. ₽
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-3.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Веб-дизайн</p>
                                    <h3 class="article-project__title">
                                        Снизили цену обращения в 4,2 раза по B2B-сегменту
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-4.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Фирменный стиль</p>
                                    <h3 class="article-project__title">
                                        Эффективный комплексный маркетинг для роста бизнеса
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-5.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Мобильные приложения</p>
                                    <h3 class="article-project__title">
                                        Оптимизация рекламных кампаний для компании ПТК39
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-6.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">3D визуализация</p>
                                    <h3 class="article-project__title">
                                        Привели 253 лида со средним чеком услуги более 1 млн. ₽
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-7.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Контекстная реклама</p>
                                    <h3 class="article-project__title">
                                        Снизили цену обращения в 4,2 раза по B2B-сегменту
                                    </h3>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-project article-project--light">
                                <div class="article-project__preview">
                                    <picture class="article-project__picture">
                                        <img src="./assets/images/project-8.png" alt="">
                                    </picture>
                                    <div class="article-project__tags">
                                        <p class="tag tag--light">Графический дизайн</p>
                                        <p class="tag tag--light">Дизайн логотип</p>
                                        <p class="tag tag--light">Дизайн упаковки</p>
                                        <p class="tag tag--light">Разработка брендбука</p>
                                    </div>
                                    <a href="#" class="article-project__backdrop">
                                        <span>Подробнее</span>
                                        <svg>
                                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-project__info">
                                    <p class="article-project__category">Фирменный стиль</p>
                                    <h3 class="article-project__title">
                                        Эффективный комплексный маркетинг для роста бизнеса
                                    </h3>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--offset section--round pt-160 pb-130">
        <div class="container">
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь<br> на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
