.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 150%;
  color: $black;

  @include r($mobile) {
    font-size: 32px;
    line-height: 120%;
  }

  &--light {
    color: $white;
  }

  &--big {
    font-size: 70px;
    letter-spacing: -1px;
    line-height: 110%;

    @include r($mobile) {
      font-size: 32px;
    }
  }
}
