.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 150%;
  color: $black;

  &--light {
    color: $white;
  }

  &--big {
    font-size: 70px;
    letter-spacing: -1px;
    line-height: 110%;
  }
}
