<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body>
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section section--intro" style="--background: url('../assets/images/blog-detail.png')">
        <div class="container">
            <div class="main-intro">
                <div class="main-intro__meta">
                    <div class="main-intro__nav">
                        <a href="mailto:unreal@mail.ru" class="link">unreal@mail.ru</a>
                        <a href="tel:+740121016132" class="link">8 (4012) 101-61-32</a>
                        <a href="tel:+78001016132" class="link">8 (800) 101-61-32</a>
                    </div>
                    <div class="social">
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                            </svg>
                        </a>
                        <a href="#" class="social__link">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-80 pb-160">
        <div class="container">
            <div class="grid">
                <div class="grid__item grid__item--8">
                    <div class="author mb-24">
                        <picture class="author__picture">
                            <img src="./assets/images/user-avatar.png" alt="">
                        </picture>
                        <div class="author__info">
                            <h3 class="author__name">Андрей Полунин</h3>
                            <time class="author__time" datetime="2025.02.23">23 фев 2025</time>
                        </div>
                    </div>
                    <div class="header-block header-block--column mb-40">
                        <h1 class="title title--big">
                            Эффективный комплексный маркетинг для роста бизнеса
                        </h1>
                        <p class="subtitle subtitle--black">
                            Как использовать интегрированные стратегии для повышения узнаваемости бренда и увеличения
                            продаж.
                        </p>
                    </div>
                    <div class="editor">
                        <h3>Основные виды контекстной рекламы Яндекс</h3>
                        <ul>
                            <li>
                                <a href="#">Реклама на поиске</a> – основный источник обращений. На поисковой выдаче
                                самые «горячие» лиды, так как они уже знают, что им нужно и выбирают на рынке чьей
                                услугой воспользоваться. Для запуска поисковой рекламы необходимо грамотно подобрать
                                семантику, исключая информационные запросы. Про типы поисковых запросов можно почитать
                                <a href="#">здесь</a>. Собрав семантику ее нужно кластеризовать. Обычно в группах около
                                5-20 ключевых фраз. Так можно максимально точно составить объявления. Ранее было
                                популярно строить рекламную кампанию по принципу 1 ключевая фраза равно 1 группа
                                объявлений. В итоге всем группам с низкочастотными запросами присваивался статус <a
                                href="#">мало показов</a>. После согласования объявлений и семантики РК на поиске
                                готова.
                            </li>
                            <li>
                                <a href="#">Реклама в сетях (баннерная реклама)</a> – используется для ретаргетинга по
                                ключевым словам
                                или сегментам/аудиториям. Ретаргетинг по ключевым словам – пользователь ввел запрос на
                                поисковой выдаче, после этого ему будет показываться баннерная реклама. Ретаргетинг по
                                сегментам/аудиториям – например, пользователь зашел на сайт и пробыл там больше минуты,
                                делаем сегмент и показываем рекламу всем пользователям данного сегмента, сюда входит
                                look-a-like аудитории и пользователи из CRM. Для запуска нужно составить ТЗ на баннеры.
                            </li>
                            <li>
                                <a href="#">Медийная реклама.</a> Медийку настраиваем по интересам пользователей.
                                Например, можно
                                показывать рекламу всем кто интересуется бизнесом, открытием франшиз, автомобилями,
                                недвижимостью и т.д. В целом медийная реклама по интересам в РСЯ показывает себя лучше,
                                чем реклама по ключевым словам. Для запуска нужно составить ТЗ на баннеры или создать
                                баннеры через конструктор. Из опыта, на конверсию это не влияет. Зависит от
                                привередливости клиента к внешнему виду баннеров.
                            </li>
                            <li>
                                <a href="#">Баннер на поиске.</a> Баннер расположен на поисковой выдаче справа.
                                Используется для
                                медийности компании. Кликов мало, конверсий также ожидать не стоит. Это дополнительный
                                инструмент к текстовому объявлению на поиске.
                            </li>
                            <li>
                                <a href="#">Динамические объявления.</a> Автоматически сформированные объявления на
                                основе фида товаров
                                или просто по ссылке на раздел с товарами. В таких РК много мусора, но и клик очень
                                дешевый. Можно тестировать, оптимизировать и смотреть конечный результат. Для запуска
                                нужен фид товаров интернет-магазина.
                            </li>
                            <li>
                                <a href="#">Смарт-баннеры.</a>Это баннерная реклама в РСЯ (рекламная сеть Яндекса). Для
                                запуска нужен
                                фид товаров. Далее создаем в конструкторе объявления, а из фида подтягиваются все товары
                                и цены.
                            </li>
                            <li>
                                <a href="#">Яндекс.Маркет.</a> Совместное предприятие Сбербанка России и компании
                                «Яндекс» в сфере
                                электронной коммерции. Подходит интернет-магазинам для продажи товаров через данную
                                площадку. Для запуска необходим фид-товаров.
                            </li>
                        </ul>
                        <h3>Основные виды контекстной рекламы Google</h3>
                        <ul>
                            <li>
                                <a href="#">Реклама на поиске.</a> В целом аналогично рекламе на поиске в Яндексе, но чаще всего цена
                                обращения ниже, а конверсия выше.
                            </li>
                            <li>
                                <a href="#">Контекстно-медийная сеть.</a> Не стоит использовать.
                            </li>
                            <li>
                                <a href="#">Youtube.</a> Через аккаунт AdWords можно создавать объявления для на рекламы на Youtube.
                                Существуют различные форматы рекламы подробнее о которых <a href="#">здесь</a>. Для запуска необходимо
                                видео загруженное на Youtube. Рекламировать можно как само видео, так и рекламные ролики
                                внутри других видео.
                            </li>
                            <li>
                                <a href="#">Merchant Center.</a> Аналог Яндекс.Маркета в Google.
                            </li>
                        </ul>
                        <h3>Карты</h3>
                        <p>
                            Карты один из способов продвижения. Позволяет вывести карточки с низким рейтингом на первые места.
                            Ссылка на управление карточкам <a href="#">Яндекс</a>, <a href="#">Google</a>, <a
                            href="#">2gis</a><br>
                            <br>
                            Примеры рекламных карточек.
                        </p>
                        <br>
                        <div class="editor__preview">
                            <img src="./assets/images/preview-4.png" alt="">
                            <img src="./assets/images/preview-5.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--4">
                    <aside class="aside-feedback">
                        <h2 class="aside-feedback__title">Хочешь получать рассылку?</h2>
                        <form action="#" class="aside-feedback__form">
                            <label>
                                <input class="input" type="email" placeholder="E-mail">
                            </label>
                            <button class="button button--aside">
                                <span>Отправить</span>
                                <svg>
                                    <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="aside-feedback__meta">
                            <p class="aside-feedback__text">Подпишись на нас:</p>
                            <div class="social social--black">
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-whatsapp"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-tg"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-behance"></use>
                                    </svg>
                                </a>
                                <a href="#" class="social__link">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-vk"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--offset section--round pb-130">
        <div class="container">
            <div class="feedback mb-160">
                <div class="feedback__header">
                    <h2 class="title">
                        Не нашли нужный вопрос? Напишите нам
                    </h2>
                    <p class="text text--small">
                        Нажимая на кнопку “Отправить” вы автоматически соглашаюсь на обработку персональных данных в
                        соответствии с <a href="#">Политикой конфиденциальности</a>
                        и принимаете условия <a href="#">Пользовательского соглашения</a>
                    </p>
                </div>
                <form action="#" class="feedback__form">
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="Имя">
                    </label>
                    <label class="feedback__item">
                        <input type="text" class="input" placeholder="+7-(___)-___-__-__">
                    </label>
                    <label class="feedback__item">
                        <textarea class="input input--area" placeholder="Комментарий..."></textarea>
                    </label>
                    <button class="button button--form" type="submit">
                        <span>Отправить</span>
                        <svg>
                            <use xlink:href="./assets/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
<%= htmlWebpackPlugin.options.widgets.hidden %>
<%= htmlWebpackPlugin.options.widgets.temp %>
</body>
</html>
