.editor {
  li, p, span {
    @include text(#505A65, 18px, 500, none, 170%);

    a {
      font: inherit;
      color: $primary;
      &:hover {
        opacity: .7;
      }
    }
  }

  ul {
    margin-bottom: 30px;
    list-style: disc;
    padding-left: 25px;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: decimal;
    padding-left: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1%;
    color: $black;

    @include r($mobile) {
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
    }
  }

  img {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-shrink: 0;
    width: 490px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #DDDDDD;
    border-radius: $r-20;
  }

  &__preview {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
